site_name: Fast-Rich
site_url: https://mohammad-albarham.github.io/fast-rich
repo_url: https://github.com/mohammad-albarham/fast-rich
repo_name: fast-rich
theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.expand
    - navigation.indexes
    - navigation.top

nav:
  - Home: index.md
  - Rust Library:
    - Getting Started: rust_getting_started.md
    - Examples: rust_examples.md
    - Tutorial: Dashboard: tutorial_dashboard.md
    - Benchmarks: benchmarks.md
    - API Reference: api.md
  - Python Bindings:
    - Installation: python_install.md
    - API Reference: python_api.md
  - Project Info:
    - Contributing: CONTRIBUTING.md
    - Changelog: CHANGELOG.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - attr_list
  - pymdownx.details
